# ===============================
# OS / IDE
# ===============================
.idea/
.vscode/
.DS_Store

# ===============================
# Node / Expo
# ===============================
node_modules/
.expo/
npm-debug.log*
yarn-error.log*

# ===============================
# Env
# ===============================
.env
.env.*

# ===============================
# Build
# ===============================
dist/
build/
